.app-container {
    position: relative;
  }
  
  .slide-in-container {
    position: absolute;
    top: 0;
    left: 100%; /* Inizia fuori dalla schermata a destra */
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Colore di sfondo desiderato */
    transition: left 0.5s ease-in-out; /* Aggiungi un effetto di transizione */
  }
  
  .app-container:hover .slide-in-container {
    left: 0; /* Al passaggio del mouse, sposta a sinistra per mostrare la componente */
  }