body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




@font-face {
  font-family: 'Karla-VariableFont_wght';
  src: url('./font/Karla-VariableFont_wght.ttf') format('truetype');
  /* Aggiungi altre varianti o formati del font se disponibili */
}

body {
  font-family: 'Karla-VariableFont_wght', sans-serif;
}

a{
  text-decoration: underline
}